name: C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install CMake
        uses: lukka/get-cmake@v3.29.0

      - name: Install build dependencies
        run: sudo apt-get update && sudo apt-get install -y build-essential

      - name: Show CMake version
        run: cmake --version

      - name: Configure (CMake)
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: cmake --build build -- -j $(nproc)

      - name: Run tests
        run: ctest --test-dir build --output-on-failure || true

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: prog1
          path: build/prog1
